* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* place holder comment */
.container {
  max-width: 60vw;
  margin: auto;
}

/* header and image */
#header_img_container {
  margin: 0;
  display: flex;
  background-color: #288080;
  height: inherit;
}
#edumax_logo {
  width: 300px;
  height: 300px;
  flex-shrink: auto;
}
h1 {
  color: white;
  font-size: calc(5px + 7vw);
}

/* Nav CSS */
.nav_container {
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  flex-shrink: inherit;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
  padding: 10px 10px;
}

ul li a {
  display: block;
  color: rgb(204, 204, 204);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-self: center;
}

ul li a:hover {
  color: #fffcfc;
}

#search-box {
  font-size: 15px;
  margin-left: auto;
  padding: 6px;
  border: none;
  border-radius: 1px;
}

/* form CSS */
#contact-form {
  display: flex;
  flex-shrink: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

#email-password-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: 2px solid #4caf50;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #79df7e;
  transform: scale(1.05);
  transition: transform 0.2s;
  font-weight: bold;
}

/* If scrren is less that or equal to the max width change values to fit screen */
@media only screen and (max-width: 499px) {
  #email-password-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  #message {
    width: 70%;
  }

  /* mobile nav */
  #edumax_logo {
    width: 150px;
    height: 150px;
    flex-shrink: auto;
  }
  h1 {
    font-size: calc(30px + 4vw);
  }
  h2 {
    font-size: calc(20px + 4vw);
  }
  .container {
    max-width: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  ul li a {
    display: block;
    color: rgb(204, 204, 204);
    text-align: center;
    text-decoration: none;
  }

  /* hide search */
  #search-box {
    display: none;
  }
  .btn {
    display: none;
  }
}
